
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background:#e7edf3;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
nav{
    background-color: rgb(56, 88, 152);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2%;
    box-shadow: 10px 5px 10px gray;
}
.nav-left {
    display: flex;
    align-items: center;
    width: 25%;
}

.nav-left h1{
    color: white;
    font-size: 2em;
    width: 160px;
    margin-left: 10px;
}
 .icons{
    font-size: 22px;
    color: white;
}
.fa-facebook{
    font-size: 35px;
}
.search-box{
    margin-left: 10px;
    background: #efefef;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.fa-search{
    color: gray;
    
}
.search-box input{
    width: 100%;
    background-color: transparent;
    padding: 3px;
    outline: none;
    border: 0;
}
.nav-mid{
    width: 40%;
    }
.nav-mid ul{
    display: flex;
    align-items: center;
    
}
.nav-mid ul li{
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    margin: 0 30px ;
}
.nav-mid ul li:hover{
    border-bottom: 3px solid white;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28%;
}
.nav-right h4{
    color:rgb(56, 88, 152) ;
    font-weight: 500;
    padding: 3px 15px;
   background-color: white;
    border: 1px solid #DBE7F2;
    border-radius: 30px;
}
.nav-right h4:hover{
    background-color: #DBE7F2;
}
.nav-right ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px ;
}

.nav-right img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
   }
/*------- nav dropdown--------- */
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 55px;
    right: 2%;
    max-height: 0;
    transition:  max-height 0.2s;
}
.settings-menu-height{
    max-height: 450px;
}
.settings-menu-inner{
    padding: 10px;
   
}
.user-dropdown{
    display: flex;
    align-items: center;
    padding: 5px 0 0 5px;
    margin: 8px 0 ;
}
.user-dropdown:hover{
    border-radius: 7px;
    background-color: #F2F2F2;
}
.user-dropdown img{
    width: 50px;
    border-radius: 50%;
    margin-right:  10px;
}
.user-dropdown a{
    text-decoration: none;
    font-size: 13px;
    color: #9a9a9a;
}

.user-dropdown i{
    font-size: 21px;
    background-color: #D8DADF;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

/* eeeeeennnnnnnddd of navigation */

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 2%;
    }
   /* ----------left sidebar ---------- */
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    }
.imp-link {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    }
.imp-link a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
  
}
.imp-link a:last-child{
    color:rgb(56, 88, 152) ;
}
.imp-link i{
   font-size: 25px;
   height: 40px;
   width: 40px;
}
.fa-heartbeat{
    color: #A632B4;
}
.imp-link .fa-user-friends {
    color: #3CAFCC;
}
.fa-store{
    color: lightseagreen;
}
.fa-clock{
    color: #1771E6;
}
.fa-bookmark{
    color:#C42D9E ; }
.fa-tv{
    color:#2894D2 ;
} 
.imp-link{
    border-bottom: 1px solid #ccc;
} 
/* your shortcut */
.shortcut-link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.shortcut-link a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-link p{
    margin: 25px 0;
    font-weight: 700;
}

  /* ----------left sidebar end---------- */

  /*---------- main content--------  */
  .main-content{
    flex-basis: 47%;
    margin-right: 20px;
   }
/* story section start  */
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.story img{
    position: absolute;
    width: 38px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 4px solid #1876F2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story1{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status/status-1.png);
}
.story2{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status/status-2.png);
}
.story3{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status/status-3.png);
}
.story4{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status/status-4.png);
}
.story5{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status/status-5.png);
}
/* story section end  */
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    color: #626262;
    box-shadow: 1px 1px 2px #9a9a9a;
}
.user-profile{
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right:  10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: black;
}
.user-profile small{
    font-size: 12px;
    }
.post-input-container{
    padding: 20px;
    }
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-between;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin: 20px 0;
    color: #626262;
    box-shadow: .5px 1px 2px #9a9a9a;
   }
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-row a{
    margin-right: 20px;
}
.post-text{
    color: black;
    margin: 10px;
   font-size: 15px;
   font-weight: 100;
}
.post-text span{
    color: #9a9a9a;
    font-weight: 600;
}
.post-text span:hover{
    border-bottom: 1px solid #9a9a9a;
    cursor: pointer;
}
.post-container a{
    text-decoration: none;
    color: #9a9a9a;
    margin-left: 10px;
}
.post-container a:hover{
    border-bottom: 1px solid #9a9a9a;
    cursor: pointer;
}
.post-image{
    width: 100%;
    margin: 10px 0;
    }
.post-reacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
    border-bottom: 1px solid #9a9a9a;
}
.post-react i{
   font-size: 25px;
   font-weight: 500;
}
.fa-thumbs-up{
    color: #0B84EE;
}
.fa-gratipay{
    color: #E42645;
}
.post-comment{
    display: flex;
  }
.post-comment h5{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}
.activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 80px ;
}
.like{
    display: flex;
    align-items: center;
    }
.like h5{
    font-size: 17px;
    font-weight: 100;
}
.like i{
    margin-right: 5px;
    font-size: 22px;
   
}
.activity .fa-thumbs-up{
    color: #9a9a9a;
}
.load-more{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}
/* ---------right sidebar ----- */
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
   
    }
.events{
    border-bottom: 1px solid #ccc;
}
.event-image{
        margin: 20px 0;
        
    }
.event-top {
    display: flex;
    align-items: center;
   
}
.event-top-right{
    line-height: 22px;
  }
.event-top-right a{
        text-decoration: none;
        color: gray;
}
.event-top-right a:hover{
    color: rgb(56, 88, 152);
    border-bottom: 1px solid gray;
}
.event-top-img{
    margin-right: 20px;
}
.event-top-img img{
   height: 80px;
   width: 100px;
   border-radius: 7px;
   
     
}
.sidebar-title{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
.contacts h4 {
    font-size: 17px;
    font-weight: 500;
    color: #626262;
}
.icons-main-content i{
    font-size: 17px;
    color: #626262;
    margin: 0 10px;
   }
.active-side{
    margin-top: 20px;
   
    
  }
  .active-people{
      display: flex;
      align-items: center;
       }
  .active-people img{
    width: 40px;
    height: 40px;
    border: 4px solid #1876F2;
    border-radius: 50%;
    cursor: pointer;
  }
.active-people h4{
     margin: 20px 20px;
    font-weight: 500;

}
/* ----------------------footer --------------------- */
footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}